:root{
    --fundo: #015c10;
    --frente-cart達o: #00FA9A;
    --verso-cart達o: #e7900e;
    --destaque: #01862ef3;
    --preto: #000000;
    --branco: #ffffff;
 }
 
 body{
     background-color: var(--fundo);
     margin: 0;
 }

 header{
    background-color: var(--fundo);
    display: flex;
    justify-content:  space-around;
    padding: 2rem;
 }
 

header a{
    color: var(--branco);
    text-decoration:  none;
}
 footer{
     background-color: var(--preto);
     position: fixed;
     bottom: 0;
     color: var(--branco);
     width: 100%;
     text-align: center;
 }

 #container{
    display: grid;
    gap: 3rem;
    padding: 20px;
 }

    .cartao{
        background-color: var(--frente-cart達o);
        border: 1px solid var(--destaque);
        padding: 40px;
        color: var(--branco);
        box-shadow: 5px 6px 25px var(--preto);
        cursor: pointer;
    }

    .cartao:hover{
        transform: scale(1.04);
    }

    .resposta-cartao{
        background-color: var(--verso-cart達o);
        padding: 40px;
    }